# To enable google analytics, uncomment the folling line, and put your ga profile here. 
# GA_PROFILE = 'UA-XXXXXXXX-X'

# Debug is disabled by default.
DEBUG = False

CLIENT_ID = 'your github client_id'
CLIENT_SECRET = 'your github client_secret'
