{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block styles %}
<style type="text/css">
    #content { text-align: center; }
    #slides { display: block;  width: 700px; height: 525px; margin: 0 auto; }
</style>
{% endblock %}

{% block content %}
{% set intro_url = url_for('repo_file', owner='greatghoul', repo='remarks', path='intro', branch='devel') %}
<iframe id="slides" frameborder="0" src="{{ intro_url }}"></iframe>
<a href="{{ intro_url }}" target="_blank" title="Open in new wndow."><i class="icon-share"></i> Open in new window.</a>
{% endblock %}
