<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %} - Remarks</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
        {% block styles %}{% endblock %}
    </head>
    <body style="padding-top: 60px;">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="#">Remark Slides</a>
                    <span class="navbar-text">Write <a href="https://github.com/gnab/remark">remark style</a> slides with <a href="http://wowubuntu.com/markdown/">markdown</a> on <a href="https://gist.github.com">gist</a>, and play slideshow online. </span> 
                    
                    <form class="navbar-form pull-right">
                        <a href="javascript:{{ bookmarklet }}" class="btn btn-link" data-toggle="tooltip" data-placement="left" data-trigger="manual" title="Drag me into bookmark bar." data-original-title="Tooltip on bottom"></i>Slideshow</a>
                    </form>
                </div>
            </div>
        </div>

        <div class="container" id="content">
            {% block content %}{% endblock %}
        </div>        

        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(function() {
                $('[data-toggle=tooltip]').tooltip('show');
            });
        </script>
        {% block scripts %}{% endblock %}
        {% include 'ga.html' %}
    </body>
</html>
