<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Remark</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/remark-default.css') }}" />
<script src="{{ url_for('static', filename='js/remark-0.4.5.min.js') }}" type="text/javascript">
    {"highlightStyle": "monokai"}
</script>
<script type="text/javascript">
    var hljs = remark.highlighter.engine();
</script>
<script src="{{ url_for('static', filename='js/remark.language.js') }}" type="text/javascript"></script>
</head>
<body>
<textarea id="source">{{ slides_source }}</textarea>
<div id="slideshow"></div>
</body>
</html>
